@import "_paleta";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.filtrarContainer {
  padding-bottom: 50px;
  .filtrarTitulo {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    padding-left: 9%;
  }
  .seleccion {
    padding: 0 9%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    select {
      width: 30%;
      border-radius: 15px;
      padding: 8px 1%;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 33px;
      outline: none;
      background-color: $primary-text-color;
      appearance: none;
    }
  }
  .quitarFiltro {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: $primary-text-color;
    background-color: $filter-out-boton;
    margin-top: 2%;
    margin-left: 9%;
    padding: 1% 2%;
    border-radius: 50px;
    border: none;
    outline: none;
  }
}

@media screen and (max-width: 537px) {
  .filtrarContainer {
    .seleccion {
      flex-direction: column;
      select {
        margin-bottom: 10px;
        width: 60%;
        padding: 10px 1%;
      }
    }
  }
}
